dash>=1.2.0
dash-auth>=2.2.1
dash-daq>=0.1.7
pandas>=0.24.2
gunicorn>=22.0.0
kaleido>=0.2.1
dash-bootstrap-components>=1.5.0
dash-bootstrap-templates>=1.1.2
pandas-stubs>=2.2.1.240316
python-dotenv>=1.0.1
